.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem;
}

.section-content-one {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.section-content-two {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.section-content-two img {
  height: 60vh;
  width: auto;
  border-radius: 20px;
}

.header-content h3 {
  color: #5287ff;
}

.header-content span {
  font-weight: 800;
}

.feature-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.feature-container img {
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.feature-container h4 {
  font-weight: 600;
}

.feature-container p {
  margin-bottom: 1rem;
}

.feature-container span {
  border-bottom: 2px solid #000;
  padding-bottom: 0.2rem;
}

.learn-more {
  cursor: pointer;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: stretch;
    margin-top: 2rem;
  }

  .section-content-one,
  .section-content-two {
    width: 100%;
    margin-bottom: 1rem;
  }

  .section-content-two img {
    width: 100%;
    height: auto;
  }

  .feature-container {
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .feature-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20rem;
  }
}

@media (max-width: 468px) {
  .header-content {
    text-align: center;
  }
  .feature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f7;
  }
  .feature-content {
    background-color: #f5f5f7;
    height: 100%;
    padding-top: 10px;
  }
}
