.parent {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacio entre las dos secciones */
  margin: 0 auto; /* Centra el contenedor en la página */
  padding: 2rem; /* Añade algo de espacio alrededor del contenedor */
}

.child1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  width: 50%;
}

.child2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.child2 img {
  height: 60vh; /* Ajusta la altura máxima de la imagen para dejar espacio para otros elementos */
  width: auto; /* Mantén la proporción original */
  border-radius: 20px;
}

@media (max-width: 768px) {
  /* Para pantallas más pequeñas, como tabletas y móviles */
  .parent {
    flex-direction: column; /* Cambia la dirección de los hijos a columna */
    align-items: stretch; /* Alinea los hijos para que ocupen todo el ancho */
  }

  .child1,
  .child2 {
    width: 100%; /* Ocupan el ancho completo en pantallas pequeñas */
    margin-bottom: 1rem; /* Añade un poco de espacio entre los hijos */
  }

  .child2 img {
    width: 100%; /* La imagen también ocupa todo el ancho disponible */
    height: auto; /* Ajusta la altura para mantener la proporción correcta */
  }
}
