.nav-item {
  list-style: none;
  display: flex;
  align-items: center;
}

.spinner-group {
  display: flex;
  align-items: center;
}

.spinner-img {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.spinner-img > svg {
  height: 2em;
  width: auto;
}

.spinner-text {
  font-weight: 700;
  font-size: 2.5rem;
}

.lines-group {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.line {
  width: 3rem;
  height: 3px;
  background-color: #050505;
  margin: 2px 0;
  border-radius: 2px;
}

@media (max-width: 600px) {
  .lines-group {
    display: none;
  }

  .spinner-img {
    display: none;
  }
}
